@charset "UTF-8";

*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #8FA63F, #315914);
}
 
main{
    background-color: #062601;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #021600ce;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #8C2703;
    text-align: center;
    text-shadow: 1px 1px 4px #5f1b029d;
}

h2{
   color: #315914;
}

p{
    text-align: justify;
    color: white;
}